[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "ELT"]
	path = ELT
	url = https://github.com/cran/ELT
[submodule "ESG"]
	path = ESG
	url = https://github.com/cran/ESG
